h1,
h2,
h3,
h4,
h5,
p,
li {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  color: #444444;
}
.name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.title {
  text-transform: uppercase;
  font-size: 1.5em;
  color: ##33485e;
}
