/*styles for my resume */

#name,
#title,
.job-title,
.organization,
.date,
p,
li {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 1em;
  color: #444;
}

#name {
  /* h1 to div id="name" */
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
/* A solid border on the bottom set to 1 pixel with a color of #33485e. */
  border-bottom: 1px solid #33485e;
  border-width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

#title {
  /* this element is a paragraph */
  text-transform: uppercase;
  font-size: 1.5em;
  color: ##33485e;
  font-weight: 700;
  text-align: center;
  width: 60%;
  min-width: 300px;
  margin: 20px auto 0 auto;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu li {
	display: inline;
}

.section-header {
  /* h2 of just experience, education and skills */
font-size: 1.5em;
text-transform: uppercase;
background-color:#33485e;
color: white;
font-weight: 400;
margin: 20px 0 10px 0;
max-width: 400px;
}

.job-title {
  /* h3's, the title names of former positions i've held*/
  font-weight: 700;
  font-size: 1.5em;
}

.organization {
  /* h4's, organizations where i've worked */
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 2px;
}

.date {
  /* work dates */
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin: 2px 0px 0px 0px;
}

.description {
  margin: 10px 0px 20px 0px;
}

li {
  /* LI's including contact info, skills and education */
  font-size: 1em;
}

#education {
  margin: 40px 0px 0px 0px;
}

#skills {
  margin: 40px 0px 0px 0px;
}

.mission-statement {
  width: 60%;
  min-width: 300px;
  margin: 0 auto 30px auto;
}

#container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
}
