h1 {
  font-size: 42px;
  font-family: Arial, sans-serif;
}

#byline{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

h2 {
  font-size: 27px;
  font-family: Arial, sans-serif;
}

h3 {
  font-size: 18px;
  font-family: Arial, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
}

.banner {
  max-width: 100%
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

.image {
  max-width: 100%
}

#caption {
  font-size: 13px;
  color: #424039;
  font-style: italic;
}
